@tailwind base;
@tailwind components;
@tailwind utilities;

.body-background {
    background-image: url('/br.jpeg'); /* Assuming the public directory is served at the root */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
  }
